/* ==========================================================================
   Base
   ========================================================================== */

body {

}

.rtp-main-wrapper {
    overflow-x: hidden;
}

img { height: auto; max-width: 100%; }

/* ==========================================================================
   Header
   ========================================================================== */

.banner {
}

.navbar-default {
    box-shadow: 0 0 4px 3px rgba(0, 0, 0, 0.15);
    margin-bottom: 0;
}