.page-template-template-landing-php .rtp-section-wrap {
    .gsection_title {
        font-size: 22px;
        text-align: left;
        font-weight: 600;
    }

    form {
        margin-top: 30px;
    }
}

.gform_wrapper.gf_browser_chrome .gfield_checkbox li input[type=checkbox],
.gform_wrapper.gf_browser_chrome .gfield_radio li input[type=radio],
.gform_wrapper.gf_browser_chrome .gfield_checkbox li input {
    height: auto;
}

.container .rtas-tabs .content input.rtas-input {
    height: auto
}