<ul>
	{% assign inner_context = include.context | remove:"index.html" %}
	{% assign entries = site.pages | sort: "path" %}
	{% for entry in entries %}

		{% assign inner_entry_url = entry.url | remove:"index.html" %}

		{% if site.rtp_exclude_pages contains inner_entry_url %}
		{% else %}

			{% capture slug %}{{ inner_entry_url | split: "/" | last }}{% endcapture %}
			{% capture current %}{{ inner_entry_url | remove: slug | remove: "//" | append: "/" }}{% endcapture %}

			{% if current == inner_context %}
				<li>
					<a href="{{ site.baseurl }}{{ inner_entry_url }}">{{ entry.title }}</a>
					{% if include.depth > 1 %}
						{% include themes/rtcamp/modules/child-pages.html context=inner_entry_url depth=include.depth-1 %}
					{% endif %}
				</li>
			{% endif %}

		{% endif %}

	{% endfor %}
</ul>
